.content {
    width: 100%
}
.message {
    margin: 5px;
    padding: 5px;
    border-radius: 5px
}
.button {
    border: #fff solid 1px;
    outline: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px
}

.recipient {
    background-color: rgba(155, 5, 175, .3);
    float: right
}
.sender {
    background-color: rgba(52, 124, 245, .3);
    float: left
}

.bold {
    font-weight: bold;
}