.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.transparent {
    opacity: 0;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.col.center {
    align-items: center;
    justify-content: center;
}

.row.top {
    align-items: flex-start;
}

.row.left {
    justify-content: flex-start;
}

.spacer {
    flex: var(--flex);
}

.full-size {
    width: 100%;
    height: 100%;
}

.offset-l {
    margin-left: var(--offset);
}

.offset-t {
    margin-top: var(--offset);
}

.offset-s-t {
    margin-top: var(--offset-s);
}

.padding-s-tb {
    padding: var(--offset-s) 0;
}

.gap-offset {
    gap: var(--offset);
}

.img-circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: contain;
}

.img-circle.large {
    width: 10rem;
    height: 10rem;
}

.border-b {
    border-bottom: var(--border);
}

.text-overflow-hidden {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}