@import "./css/vars.css";
@import "./css/responsive.css";
@import "./css/common.css";

* {
    color: var(--black);
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

p, a, span, div {
    font: var(--font-m);
}

p .small {
    font: var(--font-s);
}

p .large {
    font: var(--font-l);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font: var(--font-l);
    padding: 0;
    margin: var(--offset) 0;
}

input, button, select {
    --opacity: .3;
    padding: var(--offset-s) var(--offset);
    height: 2.4rem;
    font: var(--font-m);
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius-s);
    background: none;
}

button {
    padding: var(--offset-xs) var(--offset);
}

button:hover {
    cursor: pointer;
    background: var(--blue-gray);
    color: var(--white);
    border-color: var(--transparent-color);
}