.nav {
    flex: 2;
    height: 100%;
}

.activeLink > div {
    color: var(--white);
    background: var(--blue);
}

.item {
    font: var(--font-l);
    border-bottom: var(--border);
    padding: var(--offset-s) var(--offset-xs)
}

.item:hover {
    background: var(--blue-gray);
    color: var(--white);
}